<launch>        
  <!-- 
       Start an apriltag node using the default settings
       to connect to an OpenNI device (e.g. Kinect). 
  -->
  <node pkg="apriltags" type="apriltags" name="apriltags" output="screen">
    <param name="~default_tag_size" value="0.160" />

    <param name="~viewer" value="false" />
    <param name="~publish_detections_image" value="false" />

    <param name="~display_type" value="CUBE" />
    <param name="~marker_thickness" value="0.02" />

    <rosparam command="delete" param="tag_data" />
    <rosparam param="tag_data">
      "0": 
        size: 0.080
      "1":
        size: 0.160
      "2": 
        size: 0.080
      "3":
        size: 0.160
    </rosparam>

    <remap from="~image" to="usbcamera/image_raw"/>
    <remap from="~camera_info" to="usbcamera/camera_info"/>
    <remap from="~marker_array" to="apriltags/marker_array"/>
    <remap from="~detections" to="apriltags/detections"/>
  </node>
</launch>
